:root {
--accent2-color: rgb(24, 62, 157);
--body-font: Roboto, Arial, sans-serif;
--heading-font: Arial, sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);

}

header, main, footer {
    width: 920px;
    margin: 0 auto;
    color: var(--heading-color);
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--heading-color);
    box-sizing: border-box;
    background-color: var(--accent2-color);
    color: #ffffff;


}

nav, section, article {
    margin: 16px;
    padding: 8px;
    color: var(--heading-color);


}

p {
     margin: 16px;
    padding: 8px;
    color:#000;
}
.socialmedia a {
    text-decoration: none;
   

}

.socialmedia img {
    width: 32px;
    height: auto;
}

 .hero {
    position: relative;

}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.84;
}

.hero article {
    position: absolute;
    width: 100%;
    top: 300px;
    right: -16px;
    background-color: #2f0337;
    opacity: 0.9;

}


.hero article img {
    width: 175px;
    top: 10px;
    left: 730px;
    margin: 1px;
    float: right;

    
}

.hero article p {
    color: #fff;
}
