:root {
--primary-color: #5f8de1;
--secondary-color: #2f1cac;
--accent1-color: hsl(190, 51%, 69%);
--accent2-color: rgb(30, 61, 141);
--heading-color: rgb(98, 102, 208);
--body-font: Roboto, Arial, sans-serif;
--heading-font: Arial, sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 920px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    box-sizing: border-box;
    background-color: var(--accent2-color);
    color: var(--accent1-color)
a

}

nav, p, section, article {
    margin: 16px;
    padding: 8px;

}

.socialmedia a {
    text-decoration: none;
   

}

.socialmedia img {
    width: 32px;
    height: auto;
}

 .hero {
    position: relative;

}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.84;
    background-color: var(--accent1-color);
    color: #ffffff;
}

article {
    position: absolute;
    width: 100%;
    top: 300px;
    left: -16px;
    background-color: var(--accent2-color);
    text-align: left;
    opacity: 0.9;

}

.hero article img {
    float: right;
    width: 175px;
    top:-90px;
    background-color: #a3c4cb;
    margin: 1px;
    
    
}

