* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 500px;
    
    background-color: rgb(138, 186, 226);
    color: black;
}

h1 {
    margin: .5rem;
}

form {
    margin: 1rem;
    background-color: #ddd;
    padding: 1rem;

}
input, 
textarea, 
select, 
button {
    padding: .75rem;
    width: 350px
    
}

button {
    background-color: navy;
    color:white;
    margin: 0 auto;
    display: block;
    border-radius: 5rem;
    border: 1px solid rgb(0 0 0 / 10%);
    margin-top: 1rem;
    border
    
}

code {
    display: block;
    background-color: black;
    color:white;
}

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
}

.quiz-item {
    border: none;
}
