.callout {
    max-width: 400px;
    margin: 1px;
    padding: 1px;
    border: 1px solid #000;
    background-color: #059;
    color: #fff;

}

.callout img {
    float: right;
    margin: 8px;
    border: 1px solid #059;
    padding: 4px;
    background-color: gray;
    width: 100px;
    height: auto;
}

blockquote {
    margin: 10px;
}

cite {
    display: block;
    border-top: 1px dotted #fff;
    padding-top: 3px;
    padding-bottom: 5px;
    text-align: right;
    font-size: 12px;

}